/* 设置博客背景图及透明度 */
body::before {
    content: '';
    background-image: url('https://blog-1329948899.cos.ap-guangzhou.myqcloud.com/漫游测试.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* 确保背景图片位于内容后面 */
    opacity: 0.1; /* 透明度设置为 0.8 */
}
